<%= render 'shared/errors', obj: @employee %>
<div class="form-group">
  <%= f.label :name , 'Name:' %>
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :email , 'Email:' %>
  <%= f.text_field :email, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :mobile , 'Mobile:' %>
  <%= f.text_field :mobile, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :designation , 'Designation:' %>
  <%= f.text_field :designation, class: 'form-control' %>
</div>
