<div class="page-header">
  <h3><%= t('.heading') %></h3>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th><%= t('.table.th.id') %></th>
      <th><%= t('.table.th.name') %></th>
    </tr>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.id, employee_path(employee) %></td>
        <td><%= link_to employee.name, employee_path(employee) %></td>
      </tr>
    <% end %>
  </table>
</div>
