<div class="back">
  <%= back_link %>
</div>
<div class="row">
  <section class="col-xs-12 col-sm-5 main-info">
    <h3 class="table-heading"><%= @employee.name %>
      <span class="edit pull-right"><%= edit_link(edit_employee_path(@employee), t('.edit.popup.title')) %></span>
    </h3>

    <% if @employee.email.present? %>
      <p><span><%= t('.title.email') %> </span><%= @employee.email %></p>
    <% end %>

    <p><span><%= t('.title.status') %> </span><%= @employee.active? ? t('.active') : t('.inactive') %></p>

    <% if @employee.external_id.present? %>
      <p><span><%= t('.title.external_id') %> </span><%= @employee.external_id %></p>
    <% end %>

    <%= delete_link(employee_path(@employee)) %>
  </section>
  <section class="col-xs-12 col-sm-7 other-info">
    <h3><%= t('.item_history.heading') %> (<%= @items.count %>) <%=  link_to t('.allocate'), allocate_item_employee_path(@employee, from_emp: true), data: { remote_popup: true, title: t('.allocate_item') }, class: "btn btn-primary btn-sm pull-right" %> </h3>

    <div class="table-responsive">
      <table class="table table-striped table-last">
        <tr>
          <th class="thirty"><%= t('.item_history.table.th.item') %></th>
          <th class="thirty"><%= t('.item_history.table.th.model_number') %></th>
          <th class="thirty"><%= t('.item_history.table.th.serial_number') %></th>
          <th class="ten"></th>
        </tr>
        <% @items.each do |item| %>
          <tr class="<%= 'pending' if item.unavailable? %>">
            <td><%= link_to item.name_with_id, item_path(item)  %></td>
            <td><%= item.model_number %></td>
            <td><%= item.serial_number %></td>
            <td class="icon-show"><%= show_link(item_path(item)) %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @items, param_name: 'items_page' %>
    </div>
  </section>
</div>
