<div class="back">
  <%= back_link %>
</div>
<div class="row">
  <section class="col-xs-12 col-sm-5 main-info">
    <h3><%= @employee.name %></h3>
    <p><span>Id: </span><%= @employee.id %></p>
    <p><span>Email: </span><%= @employee.email %></p>

    <% if @employee.mobile.present? %>
      <p><span>Mobile: </span><%= @employee.mobile %></p>
    <% end %>

    <% if @employee.designation.present? %>
      <p><span>Designation: </span><%= @employee.designation %></p>
    <% end %>

    <p><span>Status: </span><%= @employee.active? ? "Working" : "Not Working" %></p>
    <%= edit_link(edit_employee_path(@employee), "Employee") %>
  </section>
  <section class="col-xs-12 col-sm-7 other-info">
    <h3>Alloted Items (<%= @items.count %>)</h3>
    <div class="table-responsive">
      <table class="table table-striped table-last">
        <tr>
          <th class="tweenty">Item</th>
          <th class="tweentythree">Model Number</th>
          <th class="tweentytwo">Serial Number</th>
          <th class="tweenty">Category</th>
          <th class="ten">Brand</th>
          <th class="five">&nbsp;</th>
        </tr>
        <% @items.each do |item| %>
          <tr class="<%= 'pending' if item.unavailable? %>">
            <td><%= link_to item.name, item_path(item)  %></td>
            <td><%= item.model_number %></td>
            <td><%= item.serial_number %></td>
            <td><%= item.category.name %></td>
            <td><%= item.brand.try(:name) %></td>
            <td class="icon-show"><%= show_link(item_path(item)) %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @items, param_name: 'items_page' %>
    </div>
    <h3>Alloted Systems (<%= @systems.count %>)</h3>
    <div class="table-responsive">
      <table class="table table-striped table-last">
        <tr>
          <th class="tweenty">System</th>
          <th class="seventyfive">Assembled on</th>
          <th class="five">&nbsp;</th>
        </tr>
        <% @systems.each do |system| %>
          <tr>
            <td><%= link_to system.name, system_path(system) %></td>
            <td><%= system.assembled_on.present? ? format_date(system.assembled_on) : "" %></td>
            <td class="icon-show">
              <%= show_link(system_path(system)) %>
            </td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @systems, param_name: 'systems_page' %>
    </div>
  </section>
</div>
