<div class="form-group text-right">
  <%= link_to 'Add New Issue', new_issue_path, class: 'btn btn-primary' %>
</div>

<h1> Issues(<%= @issues.count %>)</h1>
<hr>

<table>
  <tr>
    <th>Issue</th>
    <th>System</th>
    <th>Item</th>
    <th>Title</th>
    <th>Closed At</th>
    <th>Actions</th>
  </tr>
  <% @issues.each_with_index do |issue, index| %>
    <tr>
      <td> <%= link_to "issue #{ index+1 }", issue_path(issue) %> </td>
      <td> <%= link_to "System #{ issue.system_id }", system_path(issue.system) if issue.system %> </td>
      <td> <%= link_to "Item #{ issue.item_id }", item_path(issue.item) if issue.item %></td>
      <td> <%= issue.title %> </td>
      <td> <%= issue.closed_at.strftime('%d/%m/%Y') if issue.closed_at %> </td>
      <td> <%= link_to 'Edit', edit_issue_path(issue), class: 'btn btn-default' %> </td>
      <td> <%= link_to 'Delete', issue_path(issue), method: :delete, data: { confirm: 'Do you want to delete the Information?' }, class: 'btn btn-default' %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>
