<div class="page-header">
  <%= link_to 'New', new_issue_path, data: { remote_popup: true, title: "Create Issue" }, class: "btn btn-primary pull-right" %>
  <h3>Issues</h3>
</div>

<table class="table table-striped table-last">
  <tr>
    <th>Issue</th>
    <th>System</th>
    <th>Item</th>
    <th>Closed At</th>
    <th>&nbsp;</th>
  </tr>
  <% @issues.each_with_index do |issue, index| %>
    <tr>
      <td><%= link_to issue.title, issue_path(issue) %></td>
      <td><%= link_to issue.system.name, system_path(issue.system) if issue.system %></td>
      <td><%= link_to issue.item.name, item_path(issue.item) if issue.item %></td>
      <td><%= format_date(issue.closed_at) if issue.closed_at %></td>
      <td>
        <%= edit_link(edit_issue_path(issue)) %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>
