<div class="page-header">
  <%= link_to t('button.new'), new_issue_path(item_id: @item), data: { remote_popup: true, title: t('.add.popup.title') }, class: "btn btn-primary pull-right" %>
  <h3>
    <% if params[:item_id].present? %>
      <%= t('.item') %> <%= @item.name_with_id %>
    <% else %>
      <%= t('.heading') %>
    <% end %>
  </h3>
</div>
<div class="table-responsive">
  <table class="table table-striped table-last issues-list">
    <tr>
      <th class="issues-list__id"><%= t('.table.th.id') %></th>
      <th class="issues-list__issue"><%= t('.table.th.issue') %></th>
      <th class="issues-list__item"><%= t('.table.th.item') %></th>
      <th class="issues-list__employee"><%= t('.table.th.employee') %></th>
      <th class="issues-list__priority"><%= t('.table.th.priority') %></th>
      <th class="issues-list__status"><%= t('.table.th.status') %></th>
      <th class="issues-list__actions">&nbsp;</th>
    </tr>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.id, issue_path(issue) %></td>
        <td><%= link_to issue.title, issue_path(issue) %></td>
        <td><%= link_to issue.item.name_with_id, item_path(issue.item) if issue.item %></td>
        <td>
          <% if issue.employee.present? %>
            <%= issue.employee_name %>
          <% end %>
        </td>
        <td>
          <%= select_tag :priority, options_for_select(Issue.priorities.sort_by{ |key, value| key }.map{|key, value| [key.humanize, key]}, selected: issue.priority), prompt: t('.table.td.placeholder.select') , data: { remote: true, url: set_priority_issue_path(issue), method: :put }, class: 'select-option' %>
        </td>
        <td>
          <% if issue.closed_at.present? %>
            Closed at <%= format_date(issue.closed_at) %></br>
            Resolution: <%= issue.resolution.try(:name) %>
          <% else %>
            <%= link_to t('.button.close'), close_issue_path(issue), data: { remote_popup: true, title: t('.close.popup.title') }, class: 'btn btn-secondary' %>
          <% end %>
        </td>
        <td>
          <% unless issue.closed_at.present? %>
            <%= edit_link(edit_issue_path(issue), t('.edit.popup.title')) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= will_paginate %>
