<div class="back">
  <%= back_link %>
</div>
<section class="main-info">
  <h3><%= @issue.title %></h3>
  <p><span>Id: </span><%= @issue.id %></p>

  <% if @issue.system.present? %>
    <p><span>System: </span><%= @issue.system.name %></p>
  <% end %>

  <% if @issue.item.present? %>
    <p><span>Item: </span><%= @issue.item.name %></p>
  <% end %>

  <% if @issue.description.present? %>
    <p><span>Description: </span><%= @issue.description %></p>
  <% end %>

  <% if @issue.closed_at.present? %>
    <p><span>Resolved at: </span><%= format_date(@issue.closed_at) %></p>
  <% else %>
    <p><span>Status: </span>Pending</p>
  <% end %>

  <% if @issue.note.present? %>
    <p><span>Note: </span><%= @issue.note %></p>
  <% end %>

  <%= edit_link(edit_issue_path(@issue), "Issue") %>
</section>
