<% provide(:title, 'Item Histories') %>
<div class="form-group">
  <%= link_to 'Back', root_path, class: "btn btn-lg btn-primary" %>
</div>

<h1>Item Histories</h1>
<hr>

<table>
  <tr>
    <th><h4>Item Serial number</h4></th>
    <th><h4>Item Model number</h4></th>
    <th><h4>Brand Name</h4></th>
    <th><h4>Category Name</h4></th>
    <th><h4>Working Status</h4></th>
    <th><h4>Allocated To Employee</h4></th>
    <th><h4>Attached With</h4></th>
  </tr>
  <% @item_histories.each do |item_history| %>
    <tr>
      <td> <%= link_to item_history.item.serial_number, item_history_path(item_history)  %> </td>
      <td> <%= item_history.item.model_number %> </td>
      <td> <%= item_history.item.brand.name %> </td>
      <td> <%= item_history.item.category.name %> </td>
      <td> <%= item_history.status? ? "Active" : "Inactive" %> </td>
      <td> <%= item_history.employee.try(:name) || "Unallocted" %> </td>
      <td> <%= item_history.system.try(:id) || "Unattached" %> </td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>
