<div class="page-header">
  <%= link_to 'Add', new_user_path, data: { remote_popup: true, title: "Create User" }, class: "btn btn-primary pull-right" %>
  <h3>Users</h3>
</div>
<div class="table-responsive">
  <table class="table table-striped table-last">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>&nbsp;</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td>
          <%= edit_link(edit_user_path(user), "User") %>
          <% unless current_user == user %>
            <%= delete_link(user_path(user)) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= will_paginate %>
