<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for @user, class: "form-horizontal" do |f| %>
      <div class="form-group row">
        <div class="col-sm-4"><%= f.label :email, "Email:" %></div>
        <div class="col-sm-8">
          <%= f.text_field :email, class: 'form-control', placeholder: "E-Mail Address", required: true %>
        </div>
      </div>
      <div class="text-right">
        <%= link_to "Cancel", users_path, class: "btn btn-default" %>
        <%= f.submit "Add", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
