<div class="back">
  <%= back_link %>
</div>
<div class="row">
  <section class="col-xs-12 col-sm-5 main-info">
    <h3><%= @vendor.name %>
    <span class="edit pull-right"><%= edit_link(edit_vendor_path(@vendor), t('.edit.popup.title')) %></span>
    </h3>
    <p><span><%= t('.id') %> </span><%= @vendor.id %></p>

    <% if @vendor.email.present? %>
      <p><span><%= t('.email') %> </span><%= @vendor.email %></p>
    <% end %>

    <% if @vendor.mobile.present? %>
      <p><span><%= t('.mobile') %> </span><%= @vendor.mobile %></p>
    <% end %>

    <% if @vendor.address.present? %>
      <p><span><%= t('.address') %> </span><%= @vendor.address %></p>
    <% end %>

    <% if @vendor.city.present? %>
      <p><span><%= t('.city') %> </span><%= @vendor.city %></p>
    <% end %>

    <% if @vendor.state.present? %>
      <p><span><%= t('.state') %> </span><%= @vendor.state %></p>
    <% end %>

  </section>
  <section class="col-xs-12 col-sm-7 other-info">
    <h3><%= t('.purchased_item.heading') %> (<%= @items.count %>)</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th><%= t('.purchased_item.table.th.item') %></th>
          <th><%= t('.purchased_item.table.th.model_number') %></th>
          <th><%= t('.purchased_item.table.th.serial_number') %></th>
          <th><%= t('.purchased_item.table.th.category') %></th>
          <th><%= t('.purchased_item.table.th.brand') %></th>
          <th></th>
        </tr>
        <% @items.each do |item| %>
          <tr>
            <td><%= link_to item.name_with_id, item_path(item)  %></td>
            <td><%= item.model_number %></td>
            <td><%= item.serial_number %></td>
            <td><%= item.category.name %></td>
            <td><%= item.brand.try(:name) %></td>
            <td class="icon-show"><%= show_link(item_path(item)) %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <%= will_paginate @items, param_name: 'items_page' %>
  </section>
</div>
