<div class="form-group row">
  <div class="col-sm-4"><%= f.label :item_id , t('.title.item'), class: 'required' %></div>
  <div class="col-sm-8"><%= f.select :item_id, options_for_select(Item.not_erased.active.available.sort_by(&:name).map{ |i| [i.name_with_id, i.id, { 'data-purchase-on': i.purchase_on }] }), { prompt: t('.placeholder.select_item') }, class: 'form-control' %></div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :checkout , t('.title.checkout'), class: 'required' %></div>
  <div class="col-sm-8"><%= f.text_field :checkout, class: 'datepicker form-control', placeholder: t('date'), required: true, value: format_date(@checkout.checkout) %></div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :reason , t('.title.reason'), class: 'required' %></div>
  <div class="col-sm-8"><%= f.text_area :reason, class: 'form-control', placeholder: t('.placeholder.reason'), required: true %></div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :employee_id , t('.title.employee') %></div>
  <div class="col-sm-8"><%= f.collection_select :employee_id, Employee.company_employees, :id, :name, { prompt: t('.placeholder.select_employee') }, class: 'form-control' %></div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :check_in, t('.title.checkin') %></div>
  <div class="col-sm-8"><%= f.text_field :check_in, class: 'datepicker form-control', placeholder: t('date'), value: format_date(@checkout.check_in) %></div>
</div>
<%= unobtrusive_js("$('.datepicker').datetimepicker({ format: 'DD/MM/YYYY' });") %>
