<div class="page-header">
  <%= link_to 'Checkout', new_checkout_path, data: { remote_popup: true, title: "Create Checkouts" }, class: "btn btn-primary pull-right" %>
  <h3>Checkouts</h3>
</div>
<div class="table-responsive">
  <table class="table table-striped table-last">
    <tr>
      <th>Item</th>
      <th>Employee</th>
      <th>Checkout</th>
      <th>Check In</th>
      <th>&nbsp;</th>
    </tr>
    <% @checkouts.each do |checkout| %>
      <tr>
        <td><%= link_to checkout.item.name, checkout_path(checkout) %></td>
        <td>
          <% if checkout.employee.present? %>
            <%= link_to checkout.employee.name_or_email, employee_path(checkout.employee) %>
          <% else %>
            For Maintaince
          <% end %>
        </td>
        <td><%= checkout.checkout %></td>
        <td><%= checkout.check_in %></td>
        <td>
          <% unless checkout.check_in.present? %>
            <%= link_to 'Check In', checkin_checkout_path(checkout), class: 'btn btn-default' %>
          <% else %>
            <span>Item Returned</span>
          <% end %>
          <%= edit_link(edit_checkout_path(checkout), "Checkout") %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= will_paginate %>
