<div class="page-header">
  <%= link_to t('button.checkout'), new_checkout_path, data: { remote_popup: true, title: t('.add.popup.title') }, class: "btn btn-primary pull-right" %>
  <h3><%= t('.heading') %></h3>
</div>
<div class="table-responsive">
  <table class="table table-striped table-last">
    <tr>
      <th><%= t('.table.th.id') %></th>
      <th><%= t('.table.th.item') %></th>
      <th><%= t('.table.th.employee') %></th>
      <th><%= t('.table.th.checkout') %></th>
      <th><%= t('.table.th.checkin') %></th>
      <th></th>
    </tr>
    <% @checkouts.each do |checkout| %>
      <tr>
        <td><%= link_to checkout.id, checkout_path(checkout) %></td>
        <td><%= link_to checkout.item.name, checkout_path(checkout) %></td>
        <td>
          <% if checkout.employee.present? %>
            <%= link_to checkout.employee.try(:name), employee_path(checkout.employee_id) %>
          <% end %>
        </td>
        <td><%= format_date(checkout.checkout) %></td>
        <td>
          <% unless checkout.check_in.present? %>
            <%= link_to t('button.checkin'), checkin_checkout_path(checkout), method: :get, data: { confirm: t('.checkin_confirm_message') }, class: 'btn btn-secondary' %>
          <% else %>
            <%= format_date(checkout.check_in) %>
          <% end %>
        </td>
        <td>
          <%= edit_link(edit_checkout_path(checkout), t('.edit.popup.title')) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= will_paginate %>
