<div class="page-header">
  <%= link_to 'Add', new_checkout_path, class: "btn btn-primary pull-right" %>
  <h3>Checkouts(<%= @checkouts.count %>)</h3>
</div>
<table class="table table-striped">
  <tr>
    <th>Item</th>
    <th>Employee</th>
    <th>Checking Out</th>
    <th>Checking In</th>
    <th>&nbsp;</th>
  </tr>
  <% @checkouts.each do |checkout| %>
    <tr>
      <td><%= link_to checkout.item.name, checkout_path(checkout) %></td>
      <td>
        <% if checkout.employee.present? %>
          <%= link_to checkout.employee.name_or_email, employee_path(checkout.employee) %>
        <% else %>
          For Maintaince
        <% end %>
      </td>
      <td><%= checkout.checking_out %></td>
      <td><%= checkout.checking_in %></td>
      <td>
        <% unless checkout.checking_in.present? %>
          <%= link_to 'Checking In', checkin_checkout_path(checkout), class: 'btn btn-default' %>
        <% end %>
        <%= link_to "Edit", edit_checkout_path(checkout), class: "btn btn-default btn-sm" %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>
