<div class="back">
  <%= back_link %>
</div>
<section class="main-info">
  <h3><%= @checkout.item.name %></h3>
   <p><span>Id: </span><%= @checkout.id %></p>

  <% if @checkout.employee.present? %>
    <p><span>Employee: </span><%= link_to @checkout.employee.try(:name), employee_path(@checkout.employee_id) %></p>
  <% end %>

  <p><span>Checkout: </span><%= format_date(@checkout.checkout) %></p>

  <% if @checkout.check_in.present? %>
    <p><span>Checkin: </span><%= format_date(@checkout.check_in) %></p>
  <% end %>

  <p><span>Reason: </span><%= @checkout.reason %></p>
  <%= edit_link(edit_checkout_path(@checkout), "Checkout") %>

  <% unless @checkout.check_in.present? %>
    <%= link_to 'Check In', checkin_checkout_path(@checkout), method: :get, data: { confirm: t('checkin_confirm_message') }, class: 'btn btn-default' %>
  <% end %>
</section>
