<div class="form-group row">
  <div class="col-sm-4"><%= f.label :category_id, t('.title.category'), class: 'required' %></div>
  <div class="col-sm-8"><%= f.collection_select :category_id, Category.order_by_name, :id, :name, { include_blank: t('.placeholder.select_category') }, class: 'form-control', required: "true" %></div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :serial_number , t('.title.serial_number'), class: 'required' %></div>
  <div class="col-sm-8"><%= f.text_field :serial_number, class: 'form-control', placeholder: t('.placeholder.serial_number'), required: true %></div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :brand_id, t('.title.brand') %></div>
  <div class="col-sm-8"><%= f.collection_select :brand_id, Brand.order_by_name, :id, :name,  { include_blank: t('.placeholder.select_brand')}, class: 'form-control' %></div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :model_number, t('.title.model_number') %></div>
  <div class="col-sm-8"><%= f.text_field :model_number, class: 'form-control', placeholder: t('.placeholder.model_number') %></div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :vendor_id, t('.title.purchased_from') %></div>
  <div class="col-sm-8"><%= f.collection_select :vendor_id, Vendor.order_by_name, :id, :name, { include_blank: t('.placeholder.select_vendor') }, class: 'form-control' %></div>
</div>
<div class="form-group row">
    <div class="col-sm-4"><%= f.label :purchase_on , t('.title.purchased_on') %></div>
    <div class="col-sm-8"><%= f.text_field :purchase_on, class: 'form-control datepicker', placeholder: t('date'), value: format_date(@item.purchase_on) %></div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :warranty_expires_on , t('.title.warranty') %></div>
  <div class="col-sm-8"><%= f.text_field :warranty_expires_on, class: 'form-control datepicker', placeholder: t('date'), value: format_date(@item.warranty_expires_on) %></div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :working, t('.title.status') %></div>
  <div class="col-sm-8">
    Working : <%= f.radio_button(:working, "true", checked: @item.working) %>
    Not Working :<%= f.radio_button(:working, "false", checked: !@item.working) %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :system_id , t('.title.system') %></div>
  <div class="col-sm-8"><%= f.collection_select :system_id, System.all.sort_by(&:name), :id, :name, { prompt: t('.placeholder.select_system') }, class: 'form-control' %></div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :employee_id , t('.title.employee') %></div>
  <div class="col-sm-8"><%= f.collection_select :employee_id, Employee.company_employees, :id, :name, { prompt: t('.placeholder.select_employee') }, class: 'form-control' %></div>
</div>
<h4><%= t('.heading_attachment') %></h4>
<hr>
<%= f.fields_for :documents, @item.documents.build do |doc| %>
  <% if doc.object.new_record? %>
    <div class="form-group row">
      <div class="col-sm-4"><%= doc.label :title, t('.title.attachment_title') %></div>
      <div class="col-sm-8"><%= doc.text_field :title, class: 'form-control', placeholder: t('.placeholder.attachment') %></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4"><%= doc.label :attachment, t('.title.document') %></div>
      <div class="col-sm-8"><%= doc.file_field :attachment %></div>
    </div>
  <% end %>
<% end %>

<%= unobtrusive_js("$('.datepicker').datetimepicker({ format: 'DD/MM/YYYY' });") %>
