<section class="col-xs-12 col-sm-5 main-info">
  <p><span><%= @item.name_with_id %></span></p><hr>
  <% if @item.serial_number.present? %>
    <p><span><%= "Serial number" %>: </span><%= @item.serial_number %></p>
  <% end %>
  <% if @item.model_number.present? %>
    <p><span><%= "Model Number" %></span><%= @item.model_number %></p>
  <% end %>
  <p><span><%= "Status" %>: </span> <%= @item.working? ? "Working" : "Not Working" %></p>
  <% if @parent.present? %>
    <span><%= "Parent Item:" %></span>
    <ul class="list-group">
        <li class="list-group-item">
          <%= link_to @parent.name_with_id, item_path(@parent) %>
        </li>
    </ul>
  <% end %>
</section>
