<div class="mx-auto form-container">
  <%= form_for @item, class: "form-horizontal", remote: true, authenticity_token: true do |f| %>
    <%= render 'shared/errors', obj: @item %>
    <%= render 'form', f: f %>
    <div class="text-right">
      <button type="button" class="btn btn-light" data-dismiss="modal"><%= t('button.cancel') %></button>
      <%= f.submit t('button.update'), class: "btn btn-primary" %>
    </div>
    <div class="text-left">
      <%= delete_link(item_path(@item)) %>
    </div>
  <% end %>
</div>
