<div class="page-header">
  <% if params[:discarded] == "true" %>
    <h3>Discarded Items</h3>
  <% else %>
    <%= link_to 'Add', new_item_path, data: { remote_popup: true, title: "Create Item" },  class: "btn btn-primary pull-right" %>
    <h3>Items</h3>
  <% end %>
</div>
<div class="table-responsive">
  <table class="table table-striped item-index">
    <tr>
      <th>Id</th>
      <th>Item</th>
      <th>Model Number</th>
      <th>Serial Number</th>
      <th>Issue</th>
      <th>Checkout</th>
      <th>Status</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <% @items.each do |item| %>
      <tr class="<%= 'pending' if item.unavailable? %>">
        <td><%= link_to item.id, item_path(item) %></td>
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.model_number %></td>
        <td><%= item.serial_number %></td>
        <td>
          <% if item.issues.present? %>
            <% if item.issues.unclosed.count > 0 %>
              <%= link_to "unclosed (#{item.issues.unclosed.count})", issues_path(item_id: item.id) %>
            <% else %>
              <%= link_to "closed", issues_path(item_id: item.id) %>
            <% end %>
          <% else %>
            No Issue
          <% end %>
        </td>
        <td>
          <% if item.checkouts.present? %>
            <% if item.unavailable? %>
              <%= checkout_details(item) %>
            <% else %>
              <%= link_to "checkouts", checkouts_path(item_id: item.id) %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= item.working? ? "Working" : "Non-Working" %>
        </td>
        <td>
          <%= edit_link(edit_item_path(item), "Item") %>
        </td>
        <td>
          <% if item.discarded_at.nil? %>
            <%= link_to allocation_type(item), allocate_item_path(item), data: { remote_popup: true, title: allocation_type(item) }, class: "btn btn-primary btn-sm btn-allocate" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= will_paginate %>
