<div class="page-header">
  <%=link_to 'Add', new_item_path, class: "btn btn-primary pull-right" %>
  <h3>Items(<%= @items.count %>)</h3>
</div>

<table class="table table-striped">
  <tr>
    <th>Item</th>
    <th>Model Number</th>
    <th>Serial Number</th>
    <th>Category</th>
    <th>Brand</th>
    <th><h4>Actions</h4></th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td> <%= link_to item.name, item_path(item)  %> </td>
      <td> <%= item.model_number %></td>
      <td> <%= item.serial_number %> </td>
      <td> <%= item.category.name %> </td>
      <td> <%= item.brand.name %> </td>
      <td> <%= link_to 'Edit', edit_item_path(item), class: 'btn btn-default' %> </td>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>
