<div class="page-header">
  <%= link_to 'Add', new_item_path, data: { remote_popup: true, title: "Create Item" },  class: "btn btn-primary pull-right" %>
  <h3>Items</h3>
</div>
<div class="table-responsive">
  <table class="table table-striped table-last">
    <tr>
      <th>Id</th>
      <th>Item</th>
      <th>Model Number</th>
      <th>Serial Number</th>
      <th>Status</th>
      <th>&nbsp;</th>
    </tr>
    <% @items.each do |item| %>
      <tr class="<%= 'pending' if item.unavailable?  &&  item.working? %>">
        <td><%= link_to item.id, item_path(item) %></td>
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.model_number %></td>
        <td><%= item.serial_number %></td>
        <td>
          <%= link_to working_status(item), status_update_path(item), remote: true, method: :put, id: "status-#{ item.id }" %>
        </td>
        <td>
          <%= edit_link(edit_item_path(item), "Item") %>
          <%= link_to 'Allocate', allocate_item_path(item), data: { remote_popup: true, title: "Allocate/Deallocate" }, class: "btn btn-primary btn-sm" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= will_paginate %>
