<div class="page-header">
  <div class= "row">
    <h3 class="col-sm-4 col-md-2">
      <%= t('.heading') %>
    </h3>
    <div class="col-sm-6 col-md-8 page-heading">
      <%= form_tag items_path, { method: :get, class: "form-inline"} do %>
        <%= select_tag :category, options_from_collection_for_select(Category.active, :id, :name, { selected: params[:category]} ), prompt: "Select Category", class: "category-dropdown form-control search" %>
        <%= select_tag :brand, options_from_collection_for_select(Brand.all, :id, :name, { selected: params[:brand]} ), prompt: "Select Brand", class: "brand-dropdown form-control" %>
	 <%= select_tag :allocated, options_for_select([["Allocated Items", true], ["Unallocated Items", false]], { selected: params[:allocated] }), prompt: "Select", class: "category-dropdown form-control search"  %>
        <%= select_tag :parent, options_from_collection_for_select(Item.parent_list, :id, :name, { selected: params[:parent]} ), prompt: "Select Parent", class: "category-dropdown form-control search pull-left" %>
      <% end %>
    </div>
    <div class="col-sm-2 col-md-2 page-heading link-right">
      <%= link_to t('button.add'), new_item_path, data: { remote_popup: true, title: t('.add.popup.title') },  class: "btn btn-primary pull-right" %>
    </div>
  </div>
</div>
<div class="table-responsive item-index-responsive">
  <table class="table table-striped item-index">
    <tr>
      <th><%= t('.table.th.id') %></th>
      <th><%= t('.table.th.item') %></th>
      <th><%= t('.table.th.model_number') %></th>
      <th><%= t('.table.th.serial_number') %></th>
      <th><%= t('.table.th.issue') %></th>
      <th><%= t('.table.th.checkout') %></th>
      <th><%= t('.table.th.employee') %></th>
      <th><%= t('.table.th.status') %></th>
      <th></th>
      <th></th>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.id, item_path(item) %></td>
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.model_number %></td>
        <td><%= item.serial_number %></td>
        <td>
          <% if item.issues.present? %>
            <% if item.issues.unclosed.count > 0 %>
              <%= link_to "#{t('.table.td.unclosed')} (#{item.issues.unclosed.count})", issues_path(item_id: item.id) %>
            <% else %>
              <%= link_to t('.table.td.closed'), issues_path(item_id: item.id) %>
            <% end %>
          <% else %>
            <%= t('.table.td.no_issue') %>
          <% end %>
        </td>
        <td>
          <% if item.checkouts.present? %>
            <% if item.unavailable? %>
              <%= checkout_details(item) %>
            <% else %>
              <%= link_to t('.table.td.checkouts'), checkouts_path(item_id: item.id) %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%  if item.employee.present? %>
            <%= link_to item.employee.name, employee_path(item.employee_id) %>
          <% else %>
             <%= t('.table.td.unallocated') %>
          <% end %>
        </td>
        <td>
          <%= item.working? ? t('.table.td.working') : t('.table.td.non_working') %>
        </td>
        <td>
          <%= edit_link(edit_item_path(item), t('.edit.popup.title')) %>
        </td>
        <td>
          <% if item.discarded_at.nil? %>
            <%= link_to allocation_type(item), allocate_item_path(item), data: { remote_popup: true, title: allocation_type(item) }, class: "btn btn-primary btn-sm btn-allocate" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= will_paginate %>
