<div class="back">
  <%= back_link %>
</div>
<div class="row">
  <section class="col-xs-12 col-sm-5 main-info">
    <h3 class="table-heading"><%= @item.name %></h3>
    <p><span>Id: </span><%= @item.id %></p>
    <p>Status: <span><%= @item.working? ? "working" : "Not Working" %></span></p>

    <% if @item.model_number.present? %>
      <p>Model Number: <span><%= @item.model_number %></span></p>
    <% end %>

    <p>Serial Number: <span><%= @item.serial_number %></span></p>

    <% if @item.vendor.present? %>
      <p>Purchased From: <span><%= link_to @item.vendor.name, vendor_path(@item.vendor) %> <%= format_date(@item.purchase_on) %></span></p>
    <% end %>

    <% if @item.warranty_expires_on.present? %>
      <p>Warranty Expires On: <span><%= format_date(@item.warranty_expires_on) %></span></p>
    <% end %>

    <%= edit_link(edit_item_path(@item), "Item") %>
    <% if @item.discarded_at.nil? %>
      <%= remove_link(item_path(@item)) %>
      <%= link_to 'Allocate', allocate_item_path(@item), data: { remote_popup: true, title: "Allocate/Deallocate" }, class: "btn btn-primary btn-sm" %>
    <% end %>
  </section>
  <section class="col-xs-12 col-sm-7 other-info">
    <h3>Item History (<%= @item_histories.count %>)</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th class="twohundred">System</th>
          <th class="twohundred">Allocated To</th>
          <th class="onefourty">Status</th>
          <th class="hundred">Date</th>
        </tr>
        <% @item_histories.each do |item_history| %>
          <tr>
            <td><%= item_history.system_id.present? ? "System #{item_history.system_id}" : "Unattached" %></td>
            <td><%= item_history.employee.try(:name) || "Unallocated" %></td>
            <td><%= item_history.status? ? "Active" : "Inactive" %></td>
            <td><%= format_date(item_history.created_at) %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @item_histories, param_name: 'item_histories_page' %>
    </div>
    <h3>Checkouts History (<%= @checkouts.count %>)</h3>
    <div class="table-responsive">
      <table class="table table-striped table-last">
        <tr>
          <th class="twohundred">Employee</th>
          <th class="twohundred">Checkout</th>
          <th class="onefourty">Checkin</th>
          <th class="hundred">&nbsp;</th>
        </tr>
        <% @checkouts.each do |checkout| %>
          <tr>
            <td><%= checkout.employee.try(:name_or_email) %></td>
            <td><%= format_date(checkout.checkout) %></td>
            <td><%= format_date(checkout.check_in) %></td>
            <td><%= show_link(checkout_path(checkout)) %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @checkouts, param_name: 'checkouts_page' %>
    </div>
    <h3>Issues (<%= @issues.count %>)</h3>
    <div class="table-responsive">
      <table class="table table-striped table-last">
        <tr>
          <th class="twohundred">Issue</th>
          <th class="twohundred">System</th>
          <th class="onefourty">Closed At</th>
          <th class="hundred">&nbsp;</th>
        </tr>
        <% @issues.each do |issue| %>
          <tr>
            <td><%= issue.title %></td>
            <td><%= issue.system.name if issue.system_id? %></td>
            <td><%= format_date(issue.closed_at) if issue.closed_at? %></td>
            <td><%= show_link(issue_path(issue)) %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @issues, param_name: 'issues_page' %>
    </div>
  </div>
</div>
