<div class="form-group">
  <%= back_link %>
</div>
<div class="row">
  <section class="col-xs-12 col-sm-5 main-info">
    <h3 class="table-heading"><%= @item.name %></h3>
    <p>Status: <span><%= @item.working? ? "working" : "Not Working" %></span></p>

    <% if @item.model_number.present? %>
      <p>Model Number: <span><%= @item.model_number %></span></p>
    <% end %>

    <p>Serial Number: <span><%= @item.serial_number %></span></p>
    <p>Purchase On: <span><%= @item.purchase_on %></span></p>
    <p>Category: <span><%= @item.category.try(:name) %></span></p>

    <% if @item.brand.present? %>
      <p>Brand: <span><%= @item.brand.try(:name) %></span></p>
    <% end %>

    <% if @item.vendor.present? %>
      <p>Purchase From: <span><%= link_to @item.vendor.name, vendor_path(@item.vendor) %></span></p>
    <% end %>

    <% if @item.warrenty_expires_on.present? %>
      <p>Warranty Expires On: <span><%= @item.warranty_expires_on %></span></p>
    <% end %>

    <% if @item.purchase_note.present? %>
      <p>Purchase Note: <span><%= @item.purchase_note %></span></p>
    <% end %>

    <%= edit_link(edit_item_path(@item), "Item") %>
  </section>
  <section class="col-xs-12 col-sm-7 other-info">
    <h3>Item History (<%= @item_histories.count %>)</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>System</th>
          <th>Allocated To</th>
          <th>Status</th>
          <th>Date</th>
        </tr>
        <% @item_histories.each do |item_history| %>
          <tr>
            <td><%= item_history.system_id.present? ? "System #{item_history.system_id}" : "Unattached" %></td>
            <td><%= item_history.employee.try(:name) || "Unallocated" %></td>
            <td><%= item_history.status? ? "Active" : "Inactive" %></td>
            <td><%= item_history.created_at.strftime("%d/%m/%Y") %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @item_histories, param_name: 'item_histories_page' %>
    </div>
    <h3>Checkouts History (<%= @checkouts.count %>)</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Employee</th>
          <th>Checking Out</th>
          <th>Checking In</th>
          <th>&nbsp;</th>
        </tr>
        <% @checkouts.each do |checkout| %>
          <tr>
            <td><%= checkout.employee.try(:name) %></td>
            <td><%= checkout.checking_out %></td>
            <td><%= checkout.checking_in %></td>
            <td><%= show_link(checkout_path(checkout)) %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @checkouts, param_name: 'checkouts_page' %>
    </div>
    <h3>Issues (<%= @issues.count %>)</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Issue</th>
          <th>System</th>
          <th>Closed At</th>
          <th>&nbsp;</th>
        </tr>
        <% @issues.each do |issue| %>
          <tr>
            <td><%= issue.title %></td>
            <td><%= issue.system.name if issue.system_id? %></td>
            <td><%= format_date(issue.closed_at) if issue.closed_at? %></td>
            <td><%= show_link(issue_path(issue)) %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @issues, param_name: 'issues_page' %>
    </div>
  </div>
</div>
