<div class="form-group">
  <%= link_to 'Back', items_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="row">
  <div class="col-md-8">
    <section>
      <h2><%= @item.name %></h2>
      <hr>
      <p class="item_info"> Model Number: <strong> <%= @item.model_number %> </strong> </p>
      <p class="item_info"> Serial Number: <%= @item.serial_number %> </p>
      <p class="item_info"> Purchase On: <%= @item.purchase_on %> </p>
      <p class="item_info"> Category Name: <%= @item.category.try(:name) %> </p>
      <p class="item_info"> Brand Name: <%= @item.brand.try(:name) %> </p>
      <p class="item_info"> Purchase From: <%= @item.purchase_from %> </p>
      <p class="item_info"> Purchase Note: <%= @item.purchase_note %> </p>
      <p class="item_info"> Warranty Expires On: <%= @item.warranty_expires_on %> </p>
      <p class="item_info"> Item Status: <%= @item.working? ? "Item is working" : "Item Stopped Working" %> </p>
      <%=link_to 'Edit Details', edit_item_path(@item) %> <br><br>
    </section>
    <h3>Item Histoy:</h3>
    <hr>
    <table>
      <tr>
        <th><h4>System </h4></th>
        <th><h4>Allocated To</h4></th>
        <th><h4>Status</h4></th>
        <th><h4> Date </h4></th>
      </tr>
      <% @item_histories.each do |item_history| %>
        <tr>
          <td> <%= item_history.system_id.present? ? "System #{item_history.system_id}" : "Unattached" %> </td>
          <td> <%= item_history.employee.try(:name) || "Unallocated" %> </td>
          <td> <%= item_history.status? ? "Active" : "Inactive" %> </td>
          <td> <%= item_history.created_at.strftime("%d/%m/%Y") %> </td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @item_histories %>
  </div>
</div>
