<%= render 'shared/errors', obj: @system %>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :employees, "Allocated To:" %></div>
  <div class="col-sm-8">
    <%= f.collection_select :employee_id, Employee.all, :id, :email, include_blank: "Select Employee" %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :assembled_on, "Assembled on:", class: "required" %></div>
  <div class="col-sm-8"><%= f.text_field :assembled_on, class: 'form-control datepicker', placeholder: "YYYY/MM/DD", required: "true" %></div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :discarded_at, "Discarded at:" %></div>
  <div class="col-sm-8"><%= f.text_field :discarded_at, class: 'form-control datepicker', placeholder: "YYYY/MM/DD" %></div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :item_ids, "Items:" %></div>
  <div class="col-sm-8">
   <%= f.select :item_ids, options_from_collection_for_select(@system.associable_items, :id, :name, { selected: @system.items.pluck(:id) }), {}, { multiple: true } %>
    </div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :working, "Status:" %></div>
  <div class="col-sm-8">
    Working : <%= f.radio_button(:working, "true", checked: @system.working) %>
    Not Working :<%= f.radio_button(:working, "false", checked: !@system.working) %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-4"><%= f.label :note, "Notes:" %></div>
  <div class="col-sm-8"><%= f.text_area :note, rows: "2", class: 'form-control', placeholder: "Information" %></div>
</div>
