<div class="page-header">
  <%= link_to t('button.add'), new_system_path, data: { remote_popup: true, title: t('.add.popup.title') }, class: "btn btn-primary pull-right" %>
  <h3><%= t('.heading')%></h3>
</div>
<div class="table-responsive">
  <table class="table table-striped table-last">
    <tr>
      <th><%= t('.table.th.id') %></th>
      <th><%= t('.table.th.systems') %></th>
      <th><%= t('.table.th.assembled') %></th>
      <th><%= t('.table.th.discarded') %></th>
      <th><%= t('.table.th.status') %></th>
      <th><%= t('.table.th.allocated') %></th>
      <th></th>
    </tr>
    <% @systems.each do |system| %>
      <tr>
        <td><%= link_to system.id, system_path(system) %></td>
        <td><%= link_to system.name, system_path(system) %></td>
        <td><%= format_date(system.assembled_on) %></td>
        <td><%= format_date(system.discarded_at) %></td>
        <td><%= system.working ? t('.table.td.working') : t('.table.td.not_working') %></td>
        <td>
          <% if system.employee.present? %>
            <%= link_to system.employee.name, employee_path(system.employee_id) %>
          <% else %>
            <%= t('.table.td.unassigned') %>
          <% end %>
        </td>
        <td>
          <%= edit_link(edit_system_path(system), t('.edit.popup.title')) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= will_paginate %>
