<div class="form-group">
  <%= back_link %>
</div>
<div class="row">
  <section class="col-xs-12 col-sm-5 main-info">
    <h3><%= @system.name %></h3>
    <% if @system.assembled_on.present? %>
      <p><span>Assembled On: </span><%= format_date(@system.assembled_on) %></p>
    <% end %>
    <% if @system.discarded_at.present? %>
      <p><span>Discarded At: </span><%= format_date(@system.discarded_at) %></p>
    <% end %>
    <p><span>Status: </span><%= @system.working ? "Working" : "Not Working" %></p>
    <% if @system.note.present? %>
      <p><span>Note: </span><%= @system.note %></p>
    <% end %>
    <%= edit_link(edit_system_path(@system)) %>
  </section>
  <section class="col-xs-12 col-sm-7 other-info">
    <div>
      <h3>Histories (<%= @system_histories.count %>)</h3>
      <table class="table table-striped">
        <tr>
          <th>Employee</th>
          <th>Status</th>
          <th>Date</th>
        </tr>
        <% @system_histories.each do |system_history| %>
          <tr>
            <td><%= system_history.employee.present? ? system_history.employee.try(:name) : "Not Assigned" %></td>
            <td><%= system_history.status? ? "Active" : "Inactive" %></td>
            <td><%= format_date(system_history.created_at) %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @system_histories %>
    </div>
  </section>
</div>
