<div class="back">
  <%= back_link %>
</div>
<div class="row">
  <section class="col-xs-12 col-sm-5 main-info">
    <h3><%= @system.name %></h3>
    <p><span>Id: </span><%= @system.id %></p>

    <% if @system.assembled_on.present? %>
      <p><span>Assembled On: </span><%= format_date(@system.assembled_on) %></p>
    <% end %>

    <% if @system.discarded_at.present? %>
      <p><span>Discarded At: </span><%= format_date(@system.discarded_at) %></p>
    <% end %>

    <p><span>Status: </span><%= @system.working ? "Working" : "Not Working" %></p>

    <% if @system.note.present? %>
      <p><span>Note: </span><%= @system.note %></p>
    <% end %>

    <p><span>Items: </span>
      <ol>
        <% @system.items.each do |item| %>
          <li><%= link_to item.name, item_path(item) %></li>
        <% end %>
      </ol>
    </p>
    <%= edit_link(edit_system_path(@system), "System") %>
  </section>
  <section class="col-xs-12 col-sm-7 other-info">
    <h3>Histories (<%= @system_histories.count %>)</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th class="fourty">Employee</th>
          <th class="thirty">Status</th>
          <th class="thirty">Date</th>
        </tr>
        <% @system_histories.each do |system_history| %>
          <tr>
            <td>
              <% if system_history.employee.present? %>
                <%= link_to system_history.employee.try(:name), employee_path(system_history.employee_id) %>
              <% else %>
                Not Assigned
              <% end %>
            </td>
            <td><%= system_history.status? ? "Working" : "Not Working" %></td>
            <td><%= format_date(system_history.created_at) %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @system_histories, param_name: 'system_histories_page' %>
    </div>
    <h3 class="table-heading">Issues (<%= @issues.count %>)</h3>
    <div class="table-responsive">
      <table class="table table-striped table-last">
        <tr>
          <th class="fourty">Issue</th>
          <th class="thirty">Item</th>
          <th class="tweentyfive">Closed At</th>
          <th class="five">&nbsp;</th>
        </tr>
        <% @issues.each do |issue| %>
          <tr>
            <td><%= link_to issue.title,issue_path(issue) %></td>
            <td><%= link_to issue.item.name, item_path(issue.item) if issue.item_id? %></td>
            <td><%= format_date(issue.closed_at) if issue.closed_at? %></td>
            <td><%= show_link(issue_path(issue)) %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @issues, param_name: 'issues_page' %>
    </div>
  </section>
</div>
