<div class="page-header">
  <%= link_to 'Add', new_brand_path, class: "btn btn-primary pull-right" %>
  <h3>Brands(<%= @brands.count %>)</h3>
</div>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>&nbsp;</th>
  </tr>
  <% @brands.each do |brand| %>
    <tr>
      <td><%= link_to brand.name, brand_path(brand) %></td>
      <td><%= link_to "Edit", edit_brand_path(brand), class: "btn btn-default btn-sm pull-right" %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>
