<div class="page-header">
  <%= link_to 'Add', new_category_path, class: "btn btn-primary pull-right" %>
  <h3>Categories(<%= @categories.count %>)</h3>
</div>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>&nbsp;</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category_path(category) %></td>
      <td><%= link_to "Edit", edit_category_path(category), class: "btn btn-default btn-sm pull-right" %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>
