<div class="container">
  <%= render partial: 'shared/flash_messages' %>
  <p><%= t('.welcome') %></p>
  <h1><%= t('.heading') %></h1>
  <div class="google-content">
    <div class="red google-color-width"></div>
    <div class="blue google-color-width"></div>
    <div class="green google-color-width"></div>
    <div class="yellow google-color-width"></div>
    <p class="inventory-text">Sign in or Sign up in just a click!</p>
    <%= link_to image_tag("google_btn.png"), login_path, class: 'google-button' %>
  </div>
</div>
<p class="copy"><%= t('.footer') %></p>
