<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapsed_data">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Inventory",root_path, class: "navbar-brand", id: "logo" %>
    </div>
    <div class="navbar-collapse collapse collapsed_data">
      <div class="top-links">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <%= link_to 'Checkin / Checkout', checkouts_path %>
          </li>
          <li>
            <%= link_to 'Issues', issues_path %>
          </li>
          <li>
            <%= link_to 'Items', items_path %>
          </li>
          <li>
            <%= link_to 'Systems', systems_path %>
          </li>
          <li class="dropdown menu-custom">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">More <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Brands', brands_path %>
              </li>
              <li>
                <%= link_to 'Categories', categories_path %>
              </li>
              <li>
                <%= link_to 'Employees', employees_path %>
              </li>
              <li>
                <%= link_to 'Resolutions', resolutions_path %>
              </li>
              <li>
                <%= link_to 'Users', users_path %>
              </li>
              <li>
                <%= link_to 'Vendors', vendors_path %>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown menu-custom">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user"></i>&nbsp;
              <%= current_user.full_name.present? ? current_user.full_name : current_user.email %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Settings", edit_user_path(current_user), data: { remote_popup: true, title: "Edit User" } %></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
