<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t('.title') %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>

  <body class="<%= 'login-container' unless current_user.present? %>">
    <% if current_user.present? %>
      <%= render 'layouts/navigation' %>
      <div class="container main-content">
        <%= render partial: 'shared/flash_messages' %>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    <% else %>
      <%= render 'layouts/login' %>
    <% end %>

    <%= javascript_include_tag "application" %>
    <%= include_unobtrusive_js %>
  </body>
</html>
